{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "@babel/proposal-class-properties",
    ["inline-import-data-uri", {
      "extensions": [
        ".png",
        ".jpg",
        ".svg",
        ".gif",
        ".ico"
      ]
    }]
  ]
}