doctype html
html(lang="en")&attributes(helmet.htmlAttributes.toString())
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width initial-scale=1")
    !=helmet.meta.toString()
    !=helmet.title.toString()
    !=helmet.link.toString()
  body&attributes(helmet.bodyAttributes.toString())
    #reax!=reax || 'reax'
    script(type="text/javascript" src="/assets/reax.js")